@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  background: linear-gradient(150deg, #992b00, #ca4300, #ff7322);
  padding: 20px;
  color: #fff;
  border-bottom: 2px #993b00 solid;
}

.header h2 {
  font-size: 45px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left span {
  color: #ff8821;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right img {
  margin: 3rem;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a,
li:hover {
  color: #ff8821;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  min-height: 500px;
  align-items: center;
  background: linear-gradient(150deg, #992b00, #ca4300, #ff7322);
  border-radius: 8px;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #f15000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: -1px 1px 20px 1px #00000041;
  color: #fff;
  transition: 0.3s ease-in-out;
  flex-direction: column;
}
.partStatus {
  padding: 1rem;
  color: #fff;
  margin: 20px;
}

.status {
  background-color: #78ee58;
  padding: 1rem;
  border-radius: 8px;
}

.status.disconnected {
  background-color: #ff3535ee;
  padding: 1rem;
  border-radius: 8px;
}

.partStatus .status {
  color: #fff;
  display: inline-block;
  font-weight: 600;
}

.card:hover {
  transform: translateY(-7px);
}

section {
  display: flex;
  justify-content: center;
}

section,
.banner img {
  border-radius: 8px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f15000;
  font-weight: 500;
  color: #fff;
}
